@import 'nib'

$fontBaseLight = 'ubuntulight', Arial;
$colorBaseBody = #757a83

.clearfix
  clearfix()
  
body
  font-family $fontBaseLight
  font-smoothing(antialiased)
  font-size 1em
  color $colorBaseBody
  background #000
  width 100%
  height 100%
  
.fade-in-page
  animation fade-in ease-in 2s both
  
@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

li
  list-style none
  
h1
  margin 0 auto
  width 253px
  
h2
  text-align center
  font-size 1.063em
  text-transform uppercase
  

