@import 'nib'

@media (min-width: 320px) and (max-width: 568px)
  footer div
    width 98%
    
  .step-app div
    width 100%
    padding-top 20px
    
  .step-app .mockup
    width 80%
    
  .step-app div p
    font-size 1.500em
  
  .avise-me
    padding 5em 0 0 1.375em
    
    & h2
      font-size 2.2em
      
    & input
      width 55%
    
    & .btn-enviar
      width 43%
      position relative
      top 2px
  .hand
    width 45%
  
  .simples
    padding 0
    & h2
      font-size 3em
      margin 0.400em 0 0.400em 0
    & p
      padding 0.400em
    

@media (min-width: 600px) and (max-width: 800px)
  .hand
    width 30%
  
  .avise-me
    padding 5em 0 0 1.375em
    & h2
      font-size 2.2em
    & .btn-enviar
      position relative
      top 2px  
  
  .simples
    padding 0
    & h2
      font-size 3em
      margin 0.400em 0 0.400em 0
    & p
      padding 0.400em
    